fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
pwdlib[argon2]
python-dotenv
requests
pydantic[email]

# LangChain / RAG
langchain
langchain-community
langchain-ollama
langchain-text-splitters
faiss-cpu